<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LCDPrinterCtrl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LCDPrinterTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LCDPrinterCtrl.My.MySettings>
            <setting name="TPG_CodeBefore1" serializeAs="String">
                <value>G91
G1 Z1 F100
G1 Z4 F300
G1 Z-3.5 F300
G1 Z-1 F75
G1 Z-0.45 F50
%Sleep 3700
M3 S1000
%Sleep 300</value>
            </setting>
            <setting name="TPG_CodeBefore2" serializeAs="String">
                <value>G91
G1 Z1 F100
G1 Z4 F300
G1 Z-3.5 F300
G1 Z-1 F75
G1 Z-0.45 F50
%Sleep 3700
M3 S1000
%Sleep 300</value>
            </setting>
            <setting name="TPG_CodeAfter1" serializeAs="String">
                <value>M5
%Sleep 1000</value>
            </setting>
            <setting name="TPG_CodeAfter2" serializeAs="String">
                <value>M5
%Sleep 1000</value>
            </setting>
            <setting name="TPG_loc" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_t1" serializeAs="String">
                <value>6500</value>
            </setting>
            <setting name="TPG_t2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TPG_t3" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TPG_l1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TPG_l2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Machine_Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Last_Open_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Save_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Import_File" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalInput" serializeAs="String">
                <value />
            </setting>
            <setting name="TP_PatternW" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TP_PatternDistance" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TP_EdgeDistanceW" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TP_Width" serializeAs="String">
                <value>120.96</value>
            </setting>
            <setting name="TP_Height" serializeAs="String">
                <value>68.04</value>
            </setting>
            <setting name="TP_LayerThickness" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="TP_TotalThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TP_TimeMin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TP_TimeIntv" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TP_FeedRateUp" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TP_FeedRateDown" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TP_LiftDistance" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="TPG_FinalGCode" serializeAs="String">
                <value>M5
G1 Z1 F100
G1 Z39 F300</value>
            </setting>
            <setting name="TPG_StartGCode" serializeAs="String">
                <value>$X
G91</value>
            </setting>
            <setting name="Lining" serializeAs="String">
                <value />
            </setting>
            <setting name="TP_DisplayWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="TP_DisplayHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="TP_FastLayerTime" serializeAs="String">
                <value>45000,30000,20000,10000,7000,6500</value>
            </setting>
            <setting name="TPG_OSlicWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TP_EdgeDistanceH" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TP_PatternH" serializeAs="String">
                <value>3</value>
            </setting>
        </LCDPrinterCtrl.My.MySettings>
        <LCDPrinterTest.My.MySettings>
            <setting name="TPG_a1" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_a2" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_b1" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_b2" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_loc" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_t1" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TPG_t2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TPG_t3" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TPG_l1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TPG_l2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Machine_Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Last_Open_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Save_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Import_File" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalInput" serializeAs="String">
                <value />
            </setting>
            <setting name="TP_PatternSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TP_PatternDistance" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TP_EdgeDistance" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TP_Width" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="TP_Height" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TP_LayerThickness" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="TP_TotalThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TP_TimeMin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TP_TimeIntv" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TP_FeedRateUp" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TP_FeedRateDown" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TP_LiftDistance" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="TPG_FinalGCode" serializeAs="String">
                <value />
            </setting>
            <setting name="TPG_StartGCode" serializeAs="String">
                <value />
            </setting>
            <setting name="Lining" serializeAs="String">
                <value>
                </value>
            </setting>
        </LCDPrinterTest.My.MySettings>
    </userSettings>
</configuration>
